h2 {
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--ion-color-primary);
}

.primary {
  font-weight: 500;
  padding-bottom: 5px;
}

.secondary {
  font-weight: 400;
  color: #ac0e86;
}
