h2 {
  font-size: 18px;
  border: 1px solid var(--ion-color-primary);
  padding: 8px;
  border-radius: 5px;
  color: var(--ion-color-primary);
}

.primary {
  font-weight: 500;
}

.secondary {
  font-weight: 400;
  color: #ac0e86;
}
